<% provide(:title, @corporate.corp_name) %>

<h1><%= @corporate.corp_name %>の詳細</h1>
<li id="corporate-detail">
  <span class="corp-name">企業名：<%= @corporate.corp_name %></span>
  <span class="aspiration">志望度：<%= @corporate.aspiration %></span>
  <span class="timestamp">
    更新：<%= @corporate.updated_at.in_time_zone("Tokyo") %>
  </span>
</li>

<%= link_to "編集する", edit_corp_path, class: "btn btn-lg btn-primary" %>
<%= link_to "削除する", @corporate, method: :delete, class: "btn btn-lg btn-danger",
                                          data: { confirm: "本当に削除しますか？" } %>