<% provide(:title, @corporate.corp_name) %>

<h1><%= @corporate.corp_name %>の詳細</h1>
<div class="row" id="corporate-detail">
  <div class="col-md-8 col-md-offset-2">
    <p class="corp-name">企業名：<%= @corporate.corp_name %></p>
    <p class="aspiration">志望度：<%= @corporate.aspiration %></p>
    
    <p class="mypage_url">マイページURL：
    <% if @corporate.mypage_url.blank? %>
      <%= "未記入" %>
    <% else %>
      <%= @corporate.mypage_url %>
    <% end %>
    </p>
    
    <p class="mypage_id">マイページID：
    <% if @corporate.mypage_id.blank? %>
      <%= "未記入" %>
    <% else %>
      <%= @corporate.mypage_id %>
    <% end %>
    </p>
    
    <p class="mypage_password">マイページパスワード：
    <% if @corporate.mypage_password.blank? %>
      <%= "未記入" %>
    <% else %>
      <%= @corporate.mypage_password %>
    <% end %>
    </p>
    
    <p class="next_selection">次回の選考：
    <% if @corporate.next_selection.blank? %>
      <%= "未定" %>
    <% else %>
      <%= @corporate.next_selection %>
    <% end %>
    </p>
    
    <p class="event_day">次回イベントの日付：
    <% if @corporate.event_day %>
      <%= @corporate.event_day %>
    <% else %>
      <%= "未定" %>
    <% end %>
    </p>
    
    <p class="remarks">備考：
    <% if @corporate.remarks.blank? %>
      <%= "未記入" %>
    <% else %>
      <%= @corporate.remarks %>
    <% end %>
    </p>
    
    <p class="timestamp">
      更新：<%= l @corporate.updated_at %>
    </p>
  </div>
</div>
    <%= link_to "編集する", edit_corp_path, class: "btn btn-lg btn-primary" %>
    <%= link_to "削除する", @corporate, method: :delete, class: "btn btn-lg btn-danger",
                                          data: { confirm: "本当に削除しますか？" } %>
